*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    color:white
}

.box-1{
    background:rgba(0, 0, 0, 0.453);
    backdrop-filter: blur(0.9px);
    
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;

}
body{
    background: url('https://images.unsplash.com/photo-1548625361-58a9b86aa83b?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box {
    height: 100vh;
    flex-direction: column;
}
.art img{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 50%;
    border:5px solid white;

}
.box-1{
    flex-direction:column;
    width: 350px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(26, 26, 26, 0.5);
    border:5px solid rgba(255, 255, 255, 0.495);
    
}

.art-name{
    text-align: center;
    overflow: hidden;
    width: 170px;
}

.box-1 h4{
    margin-bottom:35px;
    font-size: 20px;
}
.art-name p{
    white-space: nowrap;
    font-family: cursive;
    font-weight: bold;

}
.round{
    animation: round 4s linear infinite;
}

@keyframes round {

    0%{
        transform: rotate(0deg);
    }
    100%{
        
        transform: rotate(360deg);
    }
    
}
.run{
    animation: run 7s linear infinite;
}

@keyframes run {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.ctrl{
    cursor: pointer;
    background-color:white;
    height: 50px;
    width: 50px;
    border-radius:50% ;
    margin: 0 15px ;
}
.ctrl:active{
    transform:  scale(0.9);
}
i{
    font-size: 18px;
    color: black;
}
i.none{
    display: none;
}
.msc{
    margin-top: 30px;
}
.prog{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 80%;
}
.time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
}
.line {
    position: relative;
    height: 5px;
    background: #d4d4d4;
    border-radius: 10px;
    cursor: pointer;
}

.lineChild {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: rgb(0, 250, 233);
    border-radius: 10px;
    transition: width 0.2s;
}

.lineChild::after{
    content: "";
    position: absolute;
    background-color: rgb(0, 250, 233);
    cursor: pointer;
    top: -3px;
    right: 0;
    height: 12px;
    width: 12px;
    border-radius: 50%;

}
@media screen and (max-width: 480px) {

    .box-1{
      
        width: 350px;
        height: 100vh;
       
    }
    .art img{
        width: 200px;
        height: 200px;
    
    }

    .prog{
        margin-top: 50px;

    }
}