@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: "Quicksand", serif;
    height: 100vh;
    color: #fff;
    background-image: url('Artboard\ 1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
}


header{
    background-color: rgba(0, 60, 255, 0.267);
    backdrop-filter: blur(4px);
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: clamp(0.5rem , 1vw, 3rem);

}
.container{
    /* border: 2px solid red; */

    height: 80vh;
    display: grid;
    max-width: 1350px;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    
    margin: 15px auto ;
    grid-gap: 25px;
}
.searchsection{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: rgba(0, 60, 255, .1);
    backdrop-filter: blur(4px);
    border: 2px solid rgba(0, 60, 255, .2);
    border-radius:10px ;
}
.searchsection h3{
    margin-bottom: 10px;
    font-size: 1rem;

}
.searchsection .or{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 200;
}
.search,.btn,.current-btn{
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
}
.btn{
    color: #fff;
    font-family: inherit;
    font-weight: 600;
    background: rgb(0, 98, 255);
    cursor: pointer;
}
.current-btn{
    background-color: #404040;
    color: #ddd;
    font-family: inherit;
    font-weight: 600;
    cursor: pointer;
}

.weather-cities{
    grid-area: 1/2/2/5;
    display: flex;
    flex-direction: column;
    padding :20px;

}
.city-container
{
    background-color: rgba(0, 60, 255, 0.1);
    backdrop-filter: blur(4px);
    border: 2px solid rgba(0, 60, 255, .2);
    padding :15px;
    border-radius: 10px;
    line-height: 25px;
    display: flex;
    justify-content: space-between;
}
.city-container h2{
    margin-bottom: 10px;

}
.city-container li{
    list-style: none;
    font-size: .8rem;
}
.city-container .logo img{
    width:4rem;
}
.logo{
    text-align: center;
    font-size: 13px;
    margin-right: 15px;
    

}

.forecast{
    margin-top: 50px;
    font-size: 1.3rem;
    margin-bottom: 30px;
}
.wearther-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wearther-box{
    margin:10px ;
    background-color: rgba(47, 47, 47, 0.5);
    border: 2px solid rgba(255,255,255 ,.1);
    backdrop-filter: blur(4px);
    padding:20px;
    width: 25vh;
    border-radius: 8px;

}
.wearther-box h3{
    font-size: 1rem;
    margin-bottom: 10px;
}
.box-details li{
    list-style: none;
    font-size:.8rem;
    line-height: 25px;
}

.wearther-container .wearther-box img{
    width:3rem;
    margin-bottom: 10px;
}

@media(max-width:600px) {
   .container{
    display: flex;
    flex-direction: column;
    
   }
  
   body{
    background-repeat: repeat;
   }
   .city-container h2{
    font-size: 1.3rem;

}



}